body {
  margin: 0 !important;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.font-face-gm {
  font-family: "GoldmanBold";
 }

@font-face {
  font-family: "GoldmanBold";
  src: local("GoldmanBold"),
   url("./assets/NotoSansTC-Bold.otf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "NotoSansTC-M";
  src: local("NotoSansTC-M"),
   url("./assets/NotoSansTC-Medium.otf") format("truetype");
}



/* .container{
  overflow:hidden;
  display:block;
  filter: blur(5px);
} */

.video-container {
  height: 1024px;
  position: relative;
  background: linear-gradient(to bottom, rgba(255,0,0,0) 0%,rgba(0,0,0,1) 80%);
}

video {
  z-index: -1;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.video-container .caption {
  z-index: 1;
  position: relative;
  text-align: center;
}
.video-center {
  filter: blur(2px);
  
}

.slider {
  z-index: 0;
  
}

.slider-container {
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0.6) 2%,rgba(0,0,0,0) 15%);
  background-color: black;
}

.carousel-slider {
  max-width: 800px; 
  width: 100%;
}

@keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}

.glass-box {
  width: 100%;
  max-width: 500px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  padding: 25px;
  display: inline-block;
  margin: 25px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.glass-box:hover {
  transform:  scale(1.1);
}

.glass-box-img {
  height: 500px;
  max-height: 500px;
  overflow: hidden;
}

.glass-box-img > img {
  max-width: 500px
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-container {
  -ms-overflow-style: none;
  height: 700px;
}

.glassBox {
  width: 100%;
  max-width: 800px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  padding: 25px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.glassBox, .glassBox * {
  box-sizing: border-box;
  transition: 400ms;
}
.glassBox__imgBox img {
  display: block;
  width: 100%;
  height: 100%;
}
.glassBox__title {
  text-align: center;
  margin-top: 15px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  font-family: "Lato";
}
.glassBox__content {
  position: absolute;
  right: 15px;
  bottom: 15px;
  left: 15px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-family: "Lato";
  letter-spacing: 0.1em;
  opacity: 0;
}
/* .glassBox:hover .glassBox__imgBox {
  transform: translateY(-50px);
} */
/* .glassBox:hover .glassBox__imgBox img {
  transform:  scale(1.2);
} */


.float-animation1 {
  animation: floating 3s ease-in-out infinite;
  animation-delay: 0s;
}

.float-animation2 {
  animation: floating 3.1s ease-in-out infinite;
  animation-delay: 0.4s;
}

.float-animation3 {
  animation: floating 2.6s ease-in-out infinite;
  animation-delay: 0.3s;
}

.float-animation4 {
  animation: floating 2.7s ease-in-out infinite;
  animation-delay: 0.2s;
}

.float-animation5 {
  animation: floating 2.7s ease-in-out infinite;
  animation-delay: 0.1s;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 12px); }
  100%   { transform: translate(0, -0px); }   
}

.txt-hover-outer:hover .txt-hover{
  background-color: rgba(0,0,0,0.6) !important;
  color:white !important;
  animation: 1s clip;
  text-decoration: none !important;
}

.page-cover{
  background-color: #fff !important;
  animation: 2s clipChangePage;
}

@keyframes clip {
  0% { clip-path: polygon(0 0, 20% 0, 0% 100%, 0 100%); }
  100% { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
}

@keyframes clipChangePage {
  0% { clip-path: circle(0% at 40px 40px); }
  99% { clip-path: circle(200% at 40px 40px); }
  100% { clip-path: circle(0% at 40px 40px); }
}

.txt-hover {
  pointer-events: auto;
  padding: 12px 30px;
  
}

a {
  text-decoration: none !important;
}

.scene {
  width: 80%;
  max-width: 400px;
  display: inline-block !important;
  justify-content: space-between;
  perspective: 800px;
  padding: 26px;
  
}
.scene .card {
  width: 100%;
  min-width: 240px;
  max-width: 400px;
  height: 400px;
  color: white;
  cursor: pointer;
  transition: 1s ease-in-out;
  transform-style: preserve-3d;
}
.scene .card:hover {
  transform: rotateY(0.5turn);
}
.scene .card .card__face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: 1s ease-in-out;
}
.scene .card .card__face img {
  width: 100%;
  max-width: 400px;
  height: 400px;
  object-fit: cover;
}
.scene .card .card__face--back {
  transform: rotateY(0.5turn);
}

.scene .text {
  width: 100%;
  min-width: 240px;
  max-width: 400px;
  height: 250px;
  color: black;
  transform-style: preserve-3d;
}

.scene .text .text__face {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}



.scene-nomal {
  width: 80%;
  max-width: 400px;
  display: inline-block !important;
  justify-content: space-between;
  perspective: 800px;
  padding: 26px;
}
.scene-nomal .card {
  width: 100%;
  min-width: 240px;
  max-width: 400px;
  height: 400px;
  color: white;
  cursor: pointer;
  transition: 1s ease-in-out;
  transform-style: preserve-3d;
  
}
.scene-nomal .card:hover {
}
.scene-nomal .card .card__face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: 1s ease-in-out;
}
.scene-nomal .card .card__face img {
  width: 100%;
  max-width: 400px;
  height: 400px;
  object-fit: cover;
}






.MuiFab-sizeLarge {
    background-color: rgba(0,0,0,0.6) !important;
}

.link-btn {
  color: #fff !important;
}


.wrapper {
  transform: translate(0%, 0%) perspective(600px) rotateY(20deg) rotateX(10deg);
  transform-style: preserve-3d;
  width: 100%;
  height: 300px;
  transform-origin: center;
  border: 2px solid rgba(0,0,0,0);
  border-radius: 10px; }
.wrapper .shape {
  border-radius: 10px;
  width: 100%;
  height: 300px;
  transform: translateZ(0px) scale(0.85);
  transform-origin: center;
  border: 2px solid rgba(0,0,0,0);
  opacity: 0.8; }

.wrapper .shape2 {
position: absolute;
top: 0;
left: 0;
z-index: 2;
width: 100%;
height: 350px;
transform: translateZ(50px) translateX(0px) translateY(-26px) scale(0.55);
border: 0px solid rgba(0,0,0,0.6);
transform-origin: center;
opacity: 0.6;
border-radius: 2px; }
.wrapper p {
text-align: center; }


.text-center {
  text-align: center;
}

.wrapper-photo {
  transform: translate(0%, 0%) perspective(600px) rotateY(0deg) rotateX(0deg);
  transform-style: preserve-3d;
  width: 30%;
  min-width: 288px;
  transform-origin: center;
  display: block;
  border-radius: 2px; }
.wrapper-photo .shape-photo {
  border-radius: 3px;
  width: 100%;
  height: 100%;
  transform: translateZ(-20px);
  transform-origin: center;
  border: 2px solid rgba(0,0,0,0.2);
  opacity: 0.8; }

.wrapper-photo .shape2-photo {
position: absolute;
top: 0;
left: 0;
z-index: 2;
width: 100%;
height: 100%;
transform: translateZ(0px);
border: 2px solid rgba(0,0,0,0.3);
transform-origin: center;
opacity: 0.8;
border-radius: 2px; }



@import url(https://fonts.googleapis.com/css?family=Exo:100);
/* Cool infinite background scrolling animation. * Twitter: @kootoopas */
/* Exo thin font from Google. */
/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
/* Animations */
 @-webkit-keyframes bg-scrolling-reverse {
	 100% {
		 background-position: 50px -50px;
	}
}
 @-moz-keyframes bg-scrolling-reverse {
	 100% {
		 background-position: 50px -50px;
	}
}
 @-o-keyframes bg-scrolling-reverse {
	 100% {
		 background-position: 50px -50px;
	}
}
 @keyframes bg-scrolling-reverse {
	 100% {
		 background-position: 50px -50px;
	}
}
 @-webkit-keyframes bg-scrolling {
	 0% {
		 background-position: 50px -50px;
	}
}
 @-moz-keyframes bg-scrolling {
	 0% {
		 background-position: 50px -50px;
	}
}
 @-o-keyframes bg-scrolling {
	 0% {
		 background-position: 50px -50px;
	}
}
 @keyframes bg-scrolling {
	 0% {
		 background-position: 50px -50px;
	}
}
/* Main styles */
 .move-bg {
	 color: black;
	 text-align: center;
	/* img size is 50x50 */
	 background: url("./assets/bg.png") repeat 0 0;
	 -webkit-animation: bg-scrolling-reverse 2s infinite;
	/* Safari 4+ */
	 -moz-animation: bg-scrolling-reverse 2s infinite;
	/* Fx 5+ */
	 -o-animation: bg-scrolling-reverse 2s infinite;
	/* Opera 12+ */
	 animation: bg-scrolling-reverse 2s infinite;
	/* IE 10+ */
	 -webkit-animation-timing-function: linear;
	 -moz-animation-timing-function: linear;
	 -o-animation-timing-function: linear;
	 animation-timing-function: linear;
   z-index: 0;
}

.section-title-text {
  padding-top: 40px;
  margin-top: 0;
}
 